body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

header {
  background-color: #111;
  padding: 20px;
}

select, input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

iframe {
  margin: 10px 0;
}

.login-container {
  max-width: 300px;
  margin: 100px auto;
}
